<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>857607056717-ug3ofl9p4ag85qmshfbull5i3iougv02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857607056717-ug3ofl9p4ag85qmshfbull5i3iougv02</string>
	<key>API_KEY</key>
	<string>AIzaSyC6kkpbQhor_eFc9Cbdu7Sel_PJaUGE75o</string>
	<key>GCM_SENDER_ID</key>
	<string>857607056717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pody.www</string>
	<key>PROJECT_ID</key>
	<string>gymapp-7ab3c</string>
	<key>STORAGE_BUCKET</key>
	<string>gymapp-7ab3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857607056717:ios:2afad06f2c7c46eb</string>
	<key>DATABASE_URL</key>
	<string>https://gymapp-7ab3c.firebaseio.com</string>
</dict>
</plist>