<ion-header>
  <ion-navbar>
    <ion-title>
      Training Plan
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="accordion-list">
    <!-- First Level -->
    <ion-list-header *ngFor="let item2 of information; let i = index" no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item2.open, 'section': !item2.open}">
        <ion-icon item-left name="arrow-forward" *ngIf="!item2.open"></ion-icon>
        <ion-icon item-left name="arrow-down" *ngIf="item2.open"></ion-icon>
          {{ item2.name }}
      </button>

      <ion-list *ngIf="item2.children && item2.open" no-lines>
        <!-- Second Level -->
        <ion-list-header *ngFor="let child of item2.children; let j = index" no-padding>
          <!-- Toggle Button -->
          <ion-item class="child">
          <button ion-item (click)="toggleItem(i, j)" class="child" detail-none>
          <!--<button ion-item (click)="toggleItem(i, j)" *ngIf="child.children" class="child" detail-none>-->
            <ion-icon item-left name="add" *ngIf="!child.open"></ion-icon>
            <ion-icon item-left name="close" *ngIf="child.open"></ion-icon>
            {{ child.name }}
          </button>
          <button ion-button outline item-end (click)="add(item2,child)" *ngIf="!child.open && editable">add</button>
        </ion-item>
          <!-- Direct Add Button as Fallback -->
          <!-- <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
            <h2>{{ child.name }}</h2>
            <p text-lowercase>{{ child.information }}</p>
            <button ion-button outline item-end (click)="buyItem(child)">{{ child.price }}</button>
          </ion-item> -->

          <ion-list *ngIf="child.children && child.open">
            <!-- Third Level -->
            <ion-item-sliding *ngFor="let item0 of child.children; let k = index">
            <ion-item detail-none class="child-item" text-wrap>
              <h2>{{ item0.name }}</h2>
              <p text-lowercase>{{ item0.information }}</p>
              <!-- Direct Add Button -->
              <button ion-button outline item-end (click)="gotoDetail(item0,child,item2)">{{ item0.price }}</button>
            </ion-item>
            <ion-item-options>
              <button ion-button color ="secondary" (click)="delete(item0,child,item2)" *ngIf = "editable">
              <ion-icon name="trash">
              </ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>

        </ion-list-header>
      </ion-list>

    </ion-list-header>
  </ion-list>
</ion-content>
